@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #262626;
        --background-active: rgba(141, 141, 141, 0.4);
        --background-brand: #0f62fe;
        --background-hover: rgba(141, 141, 141, 0.16);
        --background-inverse: #f4f4f4;
        --background-inverse-hover: #e8e8e8;
        --background-selected: rgba(141, 141, 141, 0.24);
        --background-selected-hover: rgba(141, 141, 141, 0.32);
        --border-disabled: rgba(141, 141, 141, 0.5);
        --border-interactive: #4589ff;
        --border-inverse: #f4f4f4;
        --border-strong-01: #8d8d8d;
        --border-strong-02: #a8a8a8;
        --border-strong-03: #c6c6c6;
        --border-subtle-00: #525252;
        --border-subtle-01: #525252;
        --border-subtle-02: #6f6f6f;
        --border-subtle-03: #8d8d8d;
        --border-subtle-selected-01: #6f6f6f;
        --border-subtle-selected-02: #8d8d8d;
        --border-subtle-selected-03: #a8a8a8;
        --border-tile-01: #6f6f6f;
        --border-tile-02: #8d8d8d;
        --border-tile-03: #a8a8a8;
        --field-01: #393939;
        --field-02: #525252;
        --field-03: #6f6f6f;
        --field-hover-01: #474747;
        --field-hover-02: #636363;
        --field-hover-03: #5e5e5e;
        --focus: #ffffff;
        --focus-inset: #161616;
        --focus-inverse: #0f62fe;
        --highlight: #0043ce;
        --icon-disabled: rgba(244, 244, 244, 0.25);
        --icon-inverse: #161616;
        --icon-on-color: #ffffff;
        --icon-on-color-disabled: rgba(255, 255, 255, 0.25);
        --icon-primary: #f4f4f4;
        --icon-secondary: #c6c6c6;
        --interactive: #4589ff;
        --layer-01: #393939;
        --layer-02: #525252;
        --layer-03: #6f6f6f;
        --layer-accent-01: #525252;
        --layer-accent-02: #6f6f6f;
        --layer-accent-03: #8d8d8d;
        --layer-accent-active-01: #8d8d8d;
        --layer-accent-active-02: #393939;
        --layer-accent-active-03: #525252;
        --layer-accent-hover-01: #636363;
        --layer-accent-hover-02: #5e5e5e;
        --layer-accent-hover-03: #7a7a7a;
        --layer-active-01: #6f6f6f;
        --layer-active-02: #8d8d8d;
        --layer-active-03: #393939;
        --layer-hover-01: #474747;
        --layer-hover-02: #636363;
        --layer-hover-03: #5e5e5e;
        --layer-selected-01: #525252;
        --layer-selected-02: #6f6f6f;
        --layer-selected-03: #525252;
        --layer-selected-disabled: #a8a8a8;
        --layer-selected-hover-01: #636363;
        --layer-selected-hover-02: #5e5e5e;
        --layer-selected-hover-03: #636363;
        --layer-selected-inverse: #f4f4f4;
        --link-inverse: #0f62fe;
        --link-inverse-active: #161616;
        --link-inverse-hover: #0043ce;
        --link-primary: #78a9ff;
        --link-primary-hover: #a6c8ff;
        --link-secondary: #a6c8ff;
        --link-visited: #be95ff;
        --overlay: rgba(0, 0, 0, 0.65);
        --shadow: rgba(0, 0, 0, 0.8);
        --skeleton-background: #333333;
        --skeleton-element: #525252;
        --support-caution-major: #ff832b;
        --support-caution-minor: #f1c21b;
        --support-caution-undefined: #a56eff;
        --support-error: #ff8389;
        --support-error-inverse: #da1e28;
        --support-info: #4589ff;
        --support-info-inverse: #0043ce;
        --support-success: #42be65;
        --support-success-inverse: #24a148;
        --support-warning: #f1c21b;
        --support-warning-inverse: #f1c21b;
        --text-disabled: rgba(244, 244, 244, 0.25);
        --text-error: #ffb3b8;
        --text-helper: #c6c6c6;
        --text-inverse: #161616;
        --text-on-color: #ffffff;
        --text-on-color-disabled: rgba(255, 255, 255, 0.25);
        --text-placeholder: rgba(244, 244, 244, 0.4);
        --text-primary: #f4f4f4;
        --text-secondary: #c6c6c6;
        --toggle-off: #8d8d8d;
    }
}

